<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <util:properties id="admin_config" location="classpath:/config/admin.properties"/>
        <util:properties id="db" location="file:/home/hosting_users/icnogari/tomcat/db.properties"/>
<!--    <util:properties id="db" location="file:/home/tomcat/apache-tomcat-8.5.64/db.properties"/>-->
<!--    <util:properties id="db"-->
<!--                     location="file:C:\Users\82102\Desktop\apache-tomcat-8.5.57-windows-x64\apache-tomcat-8.5.57/db.properties"/>-->

    <util:properties id="path" location="classpath:/config/path.properties"/>
    <util:properties id="token" location="classpath:/config/token.properties"/>

    <tx:annotation-driven/>
    <context:component-scan base-package="websocket"/>
    <context:component-scan base-package="security"/>
    <context:component-scan base-package="aop"/>
    <context:component-scan base-package="component"/>
    <context:component-scan base-package="exception"/>
    <context:component-scan base-package="application"/>
    <context:component-scan base-package="fcm"/>
    <context:component-scan base-package="system"/>
    <context:component-scan base-package="file"/>
<!--    <context:component-scan base-package="rank"/>-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <task:annotation-driven/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="#{db['url']}"/>
        <property name="username" value="#{db['id']}"/>
        <property name="password" value="#{db['pw']}"/>
    </bean>
    <!-- Mysql <-> Mybatis를 연결해주는 객체 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:/mappers/*.xml"/>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <!-- transaction Manager -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>