<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.alarm.AlarmMapper">

    <resultMap id="alarmVO" type="component.alarm.AlarmVO">
        <result property="alarmId" column="alarm_id"/>
        <result property="alarmType" column="alarm_type"/>
        <result property="toEmail" column="a_to"/>
        <result property="from" column="a_from"/>
        <result property="content" column="content"/>
        <result property="readFlag" column="read_flag"/>
        <result property="checkFlag" column="check_flag"/>
    </resultMap>

    <insert id="saveAlarms" parameterType="AlarmDTO">
        INSERT INTO alarm_message(a_type,a_to,a_from) values (#{alarmType},#{toEmail},#{from},#{content})
    </insert>

    <select id="getAlarms" parameterType="string" resultMap="alarmVO">
        select * from alarm_message where a_to = #{email}
    </select>
</mapper>