<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.alarm.AlarmMessageMapper">
    <select id="selectMessages" parameterType="hashmap" resultType="hashmap">
        SELECT message_id,to_email,from_email,title,message,message_seq,check_flag,transfertime from alarm_message
        where to_email = #{email} AND message_seq > #{messageSeq}
    </select>

    <update id="updateCheckFlag" parameterType="int">
        UPDATE alarm_message set check_flag = true where message_id = #{messageId}
    </update>

    <select id="getMaxSeq" parameterType="string" resultType="int">
        SELECT max(message_seq) from alarm_message where to_email = #{email} group by to_email
    </select>

    <insert id="saveMessage" parameterType="AlarmMessageDTO">
        INSERT INTO alarm_message(to_email,from_email,title,message,message_seq)
        values (#{toEmail},#{fromEmail},#{title},#{message},#{messageSeq})
    </insert>
</mapper>