<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.plan.nonoff.NonOfficialPlanMapper">

    <resultMap id="nonOfficialDTOList" type="component.plan.nonoff.NonOfficialPlanVO">
        <result property="nonOfficialPlanId" column="non_official_plan_id"/>
        <result property="memberEmail" column="member_email"/>
        <result property="planName" column="plan_name"/>
        <result property="startDate" column="startdate"/>
        <result property="endDate" column="enddate"/>
        <result property="authTime" column="authtime"/>
        <result property="regTime" column="regtime"/>
    </resultMap>

    <insert id="insertNonOfficialPlan" parameterType="NonOfficialPlanDTO">
       insert into non_official_plan(member_email,plan_name,startdate,enddate,authtime)
       values (#{memberEmail},#{planName},date_format(#{startDate},'%Y-%m-%d'),
       date_format(#{endDate},'%Y-%m-%d'),time_format(#{authTime},'%H:%i:%s'))
    </insert>

    <select id="getNonPlan" resultMap="nonOfficialDTOList" parameterType="hashmap">
        SELECT non_official_plan_id,member_email,plan_name,startdate,enddate,authtime,regtime
        from non_official_plan
        where member_email = #{email} and date_format(#{sDate},'%Y-%m-%d') between startdate and enddate
    </select>

    <delete id="deleteNonOfficialPlan" parameterType="hashmap">
        DELETE FROM non_official_plan
        where member_email = #{email} AND startdate = date_format(#{sDate},'%Y-%m-%d') AND authtime = time_format(#{aTime},'%H:%i:%s')
    </delete>

    <select id="nonOfficialPlanShare" parameterType="string" resultType="NonOfficialPlanVO">
        SELECT non_official_plan_id as nonOfficialPlanId,member_email as memberEmail,plan_name as planName,startdate,enddate,authtime,regtime
        from non_official_plan
        where non_official_plan_id = #{npid}
    </select>

    <select id="selectByIdAndEmail" parameterType="hashmap" resultType="Integer">
        SELECT * from non_official_plan where non_official_plan_id = #{npid} AND member_email = #{email}
    </select>
</mapper>