<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.plan.off.OfficialPlanMapper">
    <select id="selects" resultType="hashmap">
        select plan_id,plan_name,need_auth_num from official_plan
    </select>

    <insert id="insertOfficialPlan" parameterType="PlanDTO">
        INSERT INTO official_plan_log(member_email,plan_id,startdate,enddate,authtime)
        values (#{memberEmail},#{planId},#{startDate},#{endDate},#{authTime})
    </insert>

    <delete id="deleteOfficialPlan" parameterType="hashmap">
        DELETE FROM official_plan_log where member_email=#{email} and startdate = #{sDate} and authtime = #{authtime}
    </delete>

</mapper>