<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.plan.off.OfficialPlanMapper">
    <select id="selects" resultType="OfficialPlanDTO">
        select plan_id,plan_name,need_auth_num from official_plan
    </select>
</mapper>