<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.plan.off.OfficialPlanMapper">

    <resultMap id="officialPlanVOList" type="component.plan.off.OfficialPlanVO">
        <result property="planId" column="plan_id"/>
        <result property="planName" column="plan_name"/>
        <result property="planAuthNum" column="need_auth_num"/>
    </resultMap>

    <resultMap id="officialPlanLogVO" type="component.plan.off.OfficialPlanLogVO">
        <result property="planLogId" column="official_plan_log_id"/>
        <result property="memberEmail" column="member_email"/>
        <result property="planId" column="plan_id"/>
        <result property="startDate" column="startdate"/>
        <result property="endDate" column="enddate"/>
        <result property="authTime" column="authtime"/>
        <result property="regDate" column="regdate"/>
        <result property="planName" column="plan_name"/>
        <result property="needAuthNum" column="need_auth_num"/>
    </resultMap>

    <select id="selects" resultMap="officialPlanVOList">
        select plan_id,plan_name,need_auth_num from official_plan
    </select>

    <insert id="insertOfficialPlan" parameterType="OfficialPlanDTO">
        INSERT INTO official_plan_log(member_email,plan_id,startdate,enddate,authtime)
        values (#{memberEmail},#{planId},#{startDate},#{endDate},#{authTime})
    </insert>

    <delete id="deleteOfficialPlan" parameterType="hashmap">
        DELETE FROM official_plan_log where member_email=#{email} and #{sDate} between startdate AND enddate and authtime = #{authtime}
    </delete>

    <select id="selectsAllPlans" parameterType="string" resultMap="officialPlanLogVO">
        SELECT l.official_plan_log_id,l.member_email,l.plan_id,l.startdate,l.enddate,l.authtime,l.regtime,p.plan_name,p.need_auth_num
        from official_plan_log as l natural join official_plan as p
        where l.member_email = #{email}
    </select>
</mapper>