<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.plan.auth.PlanAuthMapper">
    <insert id="planAuthLog" parameterType="hashmap">
        INSERT INTO plan_auth_log(plan_log_id,authenticate_time,planet,authenticate_flag)
        values(#{planLogId},#{authenticateTime},#{planet},#{authenticateFlag})
    </insert>
</mapper>