<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="component.zone.ZoneMapper">
    <!-- zone 의 위치 lat,lng -->
    <resultMap id="zoneLatLngVO" type="component.zone.vo.ZoneLatLngVO">
        <result property="planetCode" column="planet_code"/>
        <result property="lag" column="lag"/>
        <result property="lng" column="lng"/>
    </resultMap>
    <resultMap id="zoneOperMap" type="component.zone.dto.ZoneOperDTO">
        <result property="code" column="planet_code"/>
        <result property="monday" column="monday"/>
        <result property="tuesday" column="tuesday"/>
        <result property="wednesday" column="wednesday"/>
        <result property="thursday" column="thursday"/>
        <result property="friday" column="friday"/>
        <result property="saturday" column="saturday"/>
        <result property="sunday" column="sunday"/>
    </resultMap>

    <resultMap id="imageMap" type="component.zone.dto.ZoneImageDTO">
        <result property="code" column="planet_code"/>
        <result property="imagePath" column="image_path"/>
    </resultMap>

    <resultMap id="zone" type="component.zone.vo.ZoneVO">
        <result property="code" column="planet_code"/>
        <result property="name" column="planet_name"/>
        <result property="doroName" column="doro_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="todayVisitor" column="today_visitor"/>
        <result property="num" column="num"/>
        <collection property="zoneOperDTO" resultMap="zoneOperMap"/>
        <collection property="zoneImageDTOList" resultMap="imageMap"/>
    </resultMap>


    <select id="selectZones" resultMap="zone" parameterType="string">
         select p.*,i.*,o.*,ifnull(s.num,0) as num from planet as p
         left outer join planet_oper_time as o on p.planet_code = o.planet_code
         left outer join planet_image as i on p.planet_code = i.planet_code
         left outer join (
         select *,count(*) as num from school group by set_location) as s on p.planet_code = s.set_location ;
    </select>

    <select id="isExist" parameterType="string" resultType="int">
        select count(*) from planet where planet_code = #{code}
    </select>

    <select id="autoComplete" parameterType="string" resultType="string">
        select area_name from disnct order by area_name
    </select>

    <select id="getZone" parameterType="string" resultMap="zoneLatLngVO">
        select planet_code,lat,lng from planet where planet_code = #{planetCode};
    </select>
</mapper>